doctype html
html
  head
    title covid
    block style
    block script
  body
    nav#navbar 
        ul
            li #[a(href="/") Home]
            Li #[a(href="/global") Global ]
            li #[a(href="/india") India ]
            li #[a(href="/vaccine") Vaccination]
            li #[a(href="/plasma") Plasma]

    block content
    block script
    block foot
      #footer
        | Copyright © 2021 CovidTracker.com | All rights reserved