extend base.pug 
block script 
    script(src="/static/validate.js")
block style 
    style
        include ../static/plasma.css
        include ../static/style.css
block content 
    section#plasmasection
        h2.plasmaheading COVID-19 Convalescent Plasma
        div#donateclick
            div.donateclick
                button(class="button" data-modal="modalOne") DONATE PLASMA
                p
                button(class="button" data-modal="modalTwo") REQUEST PLASMA
        div#candonate
            h2.donate You can donate Plasma if: 
            ol 
                li You were tested positive for COVID-19
                li You have fully recovered and are free of symptoms for 14 days
                li You are between 18-60 years old 
            h2.donate You cannot donate Plasma if: 
            ol 
                li Your weight is less than 50 kg
                li You have ever been pregnant
                li You are diabetic on insulin
                li Your Blood Pressure is more than 140 and diastolic less than 60 or more than 90
                li You have uncontrolled diabetes or hypertension with change in medication in last 28 days
                li You are a Cancer Survivor
                li You have chronic kidney/heart/lung or liver disease. 
        div(id="modalOne" class="modal")
            div(class="modal-content")
                div(class="contact-form")
                    a(class="close") &times
                    form(name="myform" action="/donate" class="form" method="post" onsubmit="return validateForm()")
                        h2.plasma Register To Donate Plasma
                        div#ll
                            
                            label(for="name" class="required") Name: 
                            br
                            input(class="fname" type="text" name="name" placeholder="Full name" required)
                            br
                            label(for="gender" class="required") Gender: 
                            br
                            select(name="gender" class="gen" id="gen")  
                                option(value="select") --Select Gender-- 
                                option(value="male") Male 
                                option(value="female") Female
                                option(value="other") Other   
                            br
                            label(for="discharge") Date of Discharge:
                            br
                            input(type="date", name="discharge")
                            br
                            label( class="required") Positive Confirmation Report Date:
                            br
                            input(type="date", name="positive")
                            br
                            label(for="mobile" class="required") Mobile No: 
                            br
                            input(type="number", name="mobile" placeholder="Mobile No" required) 
                            br
                            label(for="city" class="required") City: 
                            br
                            input(type="text" name="city" placeholder="City" required)
                            
                        article#rr
                            label(for="age" class="required") Age (18-60): 
                            br
                            input(type="number" name="age" placeholder="Age" required)
                            br
                            label(for="diagnosis" class="required") Date of Diagnosis: 
                            br
                            input(type="date", name="diagnosis")
                            br
                            label(for="negative") Negative Confirmation Report Date:
                            br
                            input(type="date", name="negativereport") 
                            br
                            label(for="history") Brief Clinical history:
                            br
                            input(type="textarea" name="clinicalhistory" placeholder="clinical history")
                            label(for="state" class="required") State:
                            br
                            <select name="state" id="state" class="gen" required>
                                option(selected="true" value="state") Select State
                                option(value="Andhra Pradesh") Andhra Pradesh
                                option(value="Andaman and Nicobar Islands") Andaman and Nicobar Islands
                                option(value="Arunachal Pradesh") Arunachal Pradesh
                                option(value="Assam") Assam
                                option(value="Bihar") Bihar
                                option(value="Chandigarh") Chandigarh
                                option(value="Chhattisgarh") Chhattisgarh
                                option(value="Dadar and Nagar Haveli") Dadar and Nagar Haveli
                                option(value="Daman and Diu") Daman and Diu
                                option(value="Delhi") Delhi
                                option(value="Lakshadweep") Lakshadweep
                                option(value="Puducherry") Puducherry
                                option(value="Goa") Goa
                                option(value="Gujarat") Gujarat
                                option(value="Haryana") Haryana
                                option(value="Himachal Pradesh") Himachal Pradesh
                                option(value="Jammu and Kashmir") Jammu and Kashmir
                                option(value="Jharkhand") Jharkhand
                                option(value="Karnataka") Karnataka
                                option(value="Kerala") Kerala
                                option(value="Madhya Pradesh") Madhya Pradesh
                                option(value="Maharashtra") Maharashtra
                                option(value="Manipur") Manipur
                                option(value="Meghalaya") Meghalaya
                                option(value="Mizoram") Mizoram
                                option(value="Nagaland") Nagaland
                                option(value="Odisha") Odisha
                                option(value="Punjab") Punjab
                                option(value="Rajasthan") Rajasthan
                                option(value="Sikkim") Sikkim
                                option(value="Tamil Nadu") Tamil Nadu
                                option(value="Telangana") Telangana
                                option(value="Tripura") Tripura
                                option(value="Uttar Pradesh") Uttar Pradesh
                                option(value="Uttarakhand") Uttarakhand
                                option(value="West Bengal") West Bengal 
                            </select>
                            br
                            label(for="address" class="required") Address: 
                            br
                            input(type="address" name="address" placeholder="Address" required)
                        button(type="submit" formaction="/donate" ) Submit
                        h1#resultdonate 
                            
          
        
      
    
        div(id="modalTwo" class="modal")
            div(class="modal-content")
                div(class="contact-form")
                    span(class="close") &times
                    form(name="myform2" action="/request" class="form" method="post" onsubmit="return revalidateForm()")
                        h2.plasma Register To Request Plasma
                        div#ll
                            label(for="fname" class="required") Name:
                            br
                            input(class="fname" type="text" name="name" placeholder="Full name")
                            br
                            label(for="gender" class="required") Gender: 
                            br 
                            select(name="gender" class="gen" id="gen")  
                                    option(value="select") --Select Gender-- 
                                    option(value="male") Male 
                                    option(value="female") Female
                                    option(value="other") Other
                            label(for="fname" class="required") Age: (18-60 only)
                            br
                            input(type="number" name="age" placeholder="Age")
                            br  
                            div(style="margin-bottom:12px")
                                label(for="blood" class="required") Blood Group: 
                                br
                                input(type="radio", name="blood", value="O+" class="blood") 
                                label(class="group") O+ 
                                input(type="radio", name="blood", value="O-" class="blood") 
                                label(class="group") O-
                                input(type="radio", name="blood", value="A+" class="blood") 
                                label(class="group") A+ 
                                input(type="radio", name="blood", value="A-" class="blood") 
                                label(class="group") A- 
                                input(type="radio", name="blood", value="B+" class="blood") 
                                label(class="group") B+ 
                                input(type="radio", name="blood", value="B-" class="blood") 
                                label(class="group") B-
                                input(type="radio", name="blood", value="AB+" class="blood") 
                                label(class="group") A+ 
                                input(type="radio", name="blood", value="AB-" class="blood") 
                                label(class="group") AB-
                                input(type="radio", name="blood", value="Don't know" class="blood") 
                                label(class="group") Don't Know
                                br
                            label(for="") Date of Covid-19 Positive: 
                            br
                            input(type="date", name="positivereport") 
                            br
                        article#rr
                            label(for="state" class="required") State:
                            br
                            <select name="state" id="state" class="gen" required>
                                option(selected="true" value="state") Select State
                                option(value="Andhra Pradesh") Andhra Pradesh
                                option(value="Andaman and Nicobar Islands") Andaman and Nicobar Islands
                                option(value="Arunachal Pradesh") Arunachal Pradesh
                                option(value="Assam") Assam
                                option(value="Bihar") Bihar
                                option(value="Chandigarh") Chandigarh
                                option(value="Chhattisgarh") Chhattisgarh
                                option(value="Dadar and Nagar Haveli") Dadar and Nagar Haveli
                                option(value="Daman and Diu") Daman and Diu
                                option(value="Delhi") Delhi
                                option(value="Lakshadweep") Lakshadweep
                                option(value="Puducherry") Puducherry
                                option(value="Goa") Goa
                                option(value="Gujarat") Gujarat
                                option(value="Haryana") Haryana
                                option(value="Himachal Pradesh") Himachal Pradesh
                                option(value="Jammu and Kashmir") Jammu and Kashmir
                                option(value="Jharkhand") Jharkhand
                                option(value="Karnataka") Karnataka
                                option(value="Kerala") Kerala
                                option(value="Madhya Pradesh") Madhya Pradesh
                                option(value="Maharashtra") Maharashtra
                                option(value="Manipur") Manipur
                                option(value="Meghalaya") Meghalaya
                                option(value="Mizoram") Mizoram
                                option(value="Nagaland") Nagaland
                                option(value="Odisha") Odisha
                                option(value="Punjab") Punjab
                                option(value="Rajasthan") Rajasthan
                                option(value="Sikkim") Sikkim
                                option(value="Tamil Nadu") Tamil Nadu
                                option(value="Telangana") Telangana
                                option(value="Tripura") Tripura
                                option(value="Uttar Pradesh") Uttar Pradesh
                                option(value="Uttarakhand") Uttarakhand
                                option(value="West Bengal") West Bengal 
                            </select>
                            br
                            label(for="" class="required") City:
                            br
                            input(type="text" name="city" placeholder="City")
                            br
                            label(for="") Hospital: 
                            br 
                            textarea(name="hospital", cols="30", rows="2" placeholder="Hospital")
                            br
                            label(for="phone" class="required") Phone Number:
                            br
                            input(type="number" name="phone" placeholder="Phone number") 
                            br
                            label(for='playstationNetwork' class="required") Address:
                            br
                            input(type="address" name="address" placeholder="Address")
                            br
                        button(type="submit" href="/") Submit
                        h1#resultrequest

    script(src="/static/plasma.js")


    
